{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
<style type="text/css">
	#user-profile-pic {
		 width: 150px;
  		height: 150px;
  		border-radius: 50%;
  		margin-bottom: 10px;
	}
</style>
	
{% endblock extra_css %}

{% block extra_js %}

	<script type="text/javascript">
		$(document).ready(function(){
			$("#email-form").hide();
			$("#profile").hide();
			$("#settings").hide();

	        $("#account1").click(function(){
	        	$("#account2").addClass("active");
	        	$("#profile2").removeClass("active");
	        	$("#settings2").removeClass("active");

	        	$("#account").show();
	        	$("#profile").hide();
	        	$("#settings").hide();
	        });

	        $("#profile1").click(function(){
	        	$("#profile2").addClass("active");
	        	$("#settings2").removeClass("active");
	        	$("#account2").removeClass("active");

	        	$("#profile").show();
	        	$("#account").hide();
	        	$("#settings").hide();
	        });

	        $("#settings1").click(function(){
	        	$("#settings2").addClass("active");
	        	$("#account2").removeClass("active");
	        	$("#profile2").removeClass("active");

	        	$("#settings").show();
	        	$("#account").hide();
	        	$("#profile").hide();
	        });

	        $("#email-change").click(function(){
	        	$("#email-show").hide();
	        	$("#email-form").show();
	        });
	        
	    });
	</script>
{% endblock extra_js %}


{% block content %}
<br>
<div class="card ">
	<div class="card-header">
		 <ul class="nav nav-tabs card-header-tabs">
	      <li class="nav-item" id="account1">
	        <a class="nav-link active" id="account2" href="#">Account</a>
	      </li>
	      <li class="nav-item" id="profile1">
	        <a class="nav-link" id="profile2" href="#">Profile</a>
	      </li>
	      <li class="nav-item" id="settings1">
	        <a class="nav-link" id="settings2" href="#">Settings</a>
	      </li>
	  	</ul>
	</div>
	<div class="card-body main-card">

		<div id="account">
			<div class="card">
				<div class="card-header">
					<h5>Email Address</h5>
				</div>
				<div class="card-body" id="email-card">

					<div id="email-show">
						<p>{{user.email}}</p>
						<button class="btn btn-primary" id="email-change">Change</button>
					</div>
					
					<div id="email-form">
							<form method="POST"  action="{% url 'account' user.id %}" >
							{% csrf_token %}
							{{form.email|as_crispy_field}}
							<button type="submit" class="btn btn-primary">Submit</button>
							<a class="btn btn-secondary" href="{% url 'account' user.id %}">Cancel</a>
						</form>
					</div>

				</div>
			</div>
			<br>
			<div class="card">
				<div class="card-header">
					<h5>Change Password</h5>
				</div>
				<div class="card-body">
					<p>Click below to reset your password</p>
					<a href="{% url 'password_reset' %}"><button class="btn btn-primary">Change</button></a>
				</div>
			</div>
			<br>
		</div>

		<div id="profile">
			<div class="card">
				<div class="card-body">
					<img src="{% static 'images/default.png' %}" id="user-profile-pic">
					<hr>
					<h5>Description</h5>
					<p>{{user.profile.description}}</p>
					<button class="btn btn-primary">Edit Description</button>
					<button class="btn btn-danger">Deactivate Account</button>
				</div>
			</div>
		</div>

		<div id="settings">
			<div class="card">
				<div class="card-body">
					<h1>Settings</h1>
					<h5>General Settings</h5>
					<hr>
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="defaultUnchecked">
						<label class="custom-control-label" for="defaultUnchecked">Dark Mode</label>
					</div>
					<div class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
					  <label class="custom-control-label" for="defaultChecked2">Article Details</label>
					</div>

				</div>
			</div>
		</div>


	</div>
</div>
<br>

{% endblock  %}
