{% extends 'app/base.html' %}
{% load crispy_forms_tags %}

{% block extra_js %}

<script>
  $(document).ready(function(){
	$(".reply").click(function(){
		var id = "#reply" + $(this).val();
		$(id).show();
	});

	$(".cancel-button").click(function(){
		var id = "#reply" + $(this).val();
		$(id).hide();
	});
  });
</script>

{% endblock extra_js %}

{% block content %}
<div class="container container-fluid">
	<div class="jumbotron bg-white">
	  	<h1 class="display-4">{{article.title}}</h1>
		{% if article.author %}
		<p class="d-inline" id="article-author">by {{article.author}}</p>
		<p class="d-inline float-right">{{article.date}}</p>
		{% endif %}

		<a href="{{article.link}}">View Original Article</a>

	  	<hr class="my-4 bg-light">
	  	<p >{{article.content | safe}}</p>
		<hr>
		<h3>{{article.get_total_comments}} Comments:</h3>
		<br>
		{% for comment in article.get_comments %}
			<div class="comment">
				<p class="d-inline">{{comment.user}}</p>
				<p class="d-inline">{{comment.date}}</p>
				<p>{{comment.content}}</p>
				<button class="btn btn-primary reply" value="{{comment.id}}">Reply</button>
				{% if comment.user == user %}
					<!--TODO: Write delete logic-->
					<button class="btn btn-danger">Delete</button>
				{% endif %}
			</div>
			<br>
			<div class="card reply-form" id="reply{{comment.id}}" style="display:none">
				<div class="card-body">
					<form action="POST" action="{% url 'comment-add' article_id=article.id%}">
						{% csrf_token %}
						{{comment_form|crispy}}
						<input type="hidden" name="parent_id" value="{{comment.id}}">
						<button class="btn btn-primary">Submit Reply</button>
						<button type="button" class="btn btn-secondary cancel-button" value="{{comment.id}}">Cancel</button>
					</form>
				</div>
			</div>
			<br>
		{% endfor %}
	</div>
</div>

<br>
<br>

{% endblock  %}




