{% extends 'app/base.html' %}
{% block extra_js %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



{% endblock extra_js %}
{% block content %}
<div class="container container-fluid">
	<div class="jumbotron bg-white">
	  	<h1 class="display-4">{{article.title}}</h1>
		<h2>Author: {{article.author}}</h2>
		<h2>Publisher: {{article.publisher}}</h2>

	  	<hr class="my-4 bg-light">
	  	<p style="font-size: 25px;">{{article.content}}</p>

	</div>
</div>

<br>
<br>

{% endblock  %}




