{% load static %}
{% load tag_lib %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
      /*a {*/
      /*  color: #333333;*/
      /*  text-decoration: none;*/
      /*  }*/

      /*a:hover*/
      /*{*/
      /*     color:#333333;*/
      /*     text-decoration:none;*/
      /*     cursor:pointer;*/
      /*}*/

      .article-count {
        background-color: #FF8800; color: white;
      }

      .article-stats {
        margin-left: 9%;
        font-size: 14px;
      }

      #logo {
        width: 30px;
        height: 30px;
      }

      #feed-filter {
        margin-top:10px;
        margin-bottom: 5px;
        width: 250px;
      }

      #button-filter {
        margin-top:5px;
        margin-bottom: 5px;
      }

        .modal.left .modal-dialog {
          position:fixed;
          right: 0;
          margin: auto;
          width: 320px;
          height: 100%;
          -webkit-transform: translate3d(0%, 0, 0);
          -ms-transform: translate3d(0%, 0, 0);
          -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
      }

      .modal.left .modal-content {
          height: 100%;
          overflow-y: auto;
      }

      .modal.right .modal-body {
          padding: 15px 15px 80px;
      }

      .modal.right.fade .modal-dialog {
          left: -320px;
          -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
          -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
          -o-transition: opacity 0.3s linear, left 0.3s ease-out;
          transition: opacity 0.3s linear, left 0.3s ease-out;
      }

      .modal.right.fade.show .modal-dialog {
          right: 0;
      }

    </style>
    {% block extra_css %}
    {% endblock extra_css %}
 
    <title>The Validator</title>

  </head>
  <body>

<!-- Modal -->
<div class="modal left fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img src="{% static 'images/validatorlogo.png' %}" id="logo" alt="">
        <h5 class="modal-title ml-1" id="exampleModalLabel">Validator</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="{% url 'home' %}"><i class="fa fa-home mr-2" aria-hidden="true"></i>Home</a>
            </li>
            {% if not user.profile.is_online %}
              <li class="list-group-item">
                <a class="" href="{% url 'login' %}"><i class="fa fa-user-plus mr-1" aria-hidden="true"></i>Login/Register</a>
              </li>
            {% endif %}
            {% if user.profile.is_online %}
              <li class="list-group-item">
                <a href="{% url 'account' user.id %}"><i class="fa fa-user mr-2" aria-hidden="true"></i></i>Account</a>
              </li>
              <li class="list-group-item">
                <a class="" href="{% url 'account' pk=user.pk %}"><i class="fa fa-cog mr-2" aria-hidden="true"></i>Settings</a>
              </li>
              <li class="list-group-item">
                <a class="" href="{% url 'logout' %}"><i class="fa fa-sign-out mr-2" aria-hidden="true"></i>Logout</a>
              </li>
            {% endif %}
<!--            <li class="list-group-item">-->
<!--              <a href="{% url 'article-list' %}">Articles</a>-->
<!--            </li>-->
<!--            <li class="list-group-item">-->
<!--              <a href="{% url 'author-list' %}">Authors</a>-->
<!--            </li>-->
<!--            <li class="list-group-item">-->
<!--              <a href="{% url 'publisher-list' %}">Publishers</a>-->
<!--            </li>-->
          </ul>

      </div>
    </div>
  </div>
</div>
<div id="navbar-container">
  <nav class="navbar fixed-top navbar-light bg-white border-bottom">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static 'images/validatorlogo.png' %}" id="logo" alt="">
      Validator</a>

    <div class="ml-auto mr-2">
      <a href="{% url 'rss-list' %}"><button class="btn btn-white" data-toggle="tooltip" data-placement="bottom" title="Feeds"><i class="fa fa-plus" aria-hidden="true"></i></button></a>
      <a href="{% url 'home' %}"><button class="btn btn-white" data-toggle="tooltip" data-placement="bottom" title="Home"><i class="fa fa-home mr-2" aria-hidden="true"></i></button></a>
      <a href="{% url 'bookmark-list' %}"><button class="btn btn-white" data-toggle="tooltip" data-placement="bottom" title="Bookmarks"><i class="fa fa-bookmark" aria-hidden="true"></i></button></a>

      {% if user.profile.is_online %}
          <a href="{% url 'account' user.id %}"><button class="btn btn-light mr-1">{{user}}</button></a>
      {% endif %}
      {% if not user.profile.is_online %}
        <a href="{% url 'login' %}"><button class="btn btn-light mr-1">Log In</button></a>
        <a href="{% url 'user-add' %}"><button class="btn btn-success">Sign Up</button></a>
      {% endif %}
    </div>
    <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#exampleModal" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
<br>
<br>



<div class="container-fluid h-100 mt-2">
    <div class="row justify-content-center bg-light">
      <div class="col-2 border-right border-bottom ">
          <form class="form-inline ">
            <div class="form-group col">
              <input class="form-control mr-sm-2" id="feed-filter" type="search" placeholder="Filter Feeds" aria-label="Search">
            </div>
          </form>
      </div>
      <div class="col-3 border-right border-bottom">
        <button class="btn btn-small btn-primary float-right mt-2" id="article-filter" type="button" value="4">
		    Popular
		  </button>
      </div>
      <div class="col border-bottom mt-1">
        {% if article.id %}
          <a href="{% url 'article-score' article.id %}"><button class="btn btn-white text-dark bookmark mb-1"><i class="fa fa-bar-chart" aria-hidden="true"></i></button></a>
          <button class="btn btn-white text-dark bookmark mb-1" value="{{article.id}}"><i class="fa fa-bookmark" aria-hidden="true"></i></button>
          <button class="btn btn-light float-right" type="button" id="share-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share" aria-hidden="true"></i></button>
          <div class="dropdown-menu" aria-labelledby="share-button">
              <a class="dropdown-item" href="#"><i class="fa fa-envelope-o mr-1" aria-hidden="true"></i>Send To Friend</a>
              <a class="dropdown-item" href="#"><i class="fa fa-twitter mr-1" aria-hidden="true"></i>Twitter</a>
          </div>
          <button class="btn btn-light float-right like" value="{{article.id}}"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
          <button class="btn btn-light float-right dislike" value="{{article.id}}"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
          <a href="{% url 'comment-add' article_id=article.id %}"><button class="btn btn-light float-right like" value="{{article.id}}"><i class="fa fa-comment" aria-hidden="true"></i></button></a>
        {% endif %}

      </div>
    </div>
  <div class="row justify-content-center h-100">
    <div class="col-2 hidden-md-down border-right">
      <ul class="list-group list-group-flush " id="rss-list">
        {% for feed in rss_list %}
          <li class="list-group-item">
            <div class="feed-container">
              <button class="btn btn-white feed" id="{{feed.id}}" value="{{feed.id}}">
                <h4 class="d-inline" ><span class="badge article-count"><i class="fa fa-android" aria-hidden="true"></i></span></h4>
                <p class="ml-2 d-inline article-title">{{feed.name}}</p>
              </button>
            </div>
          </li>
        {% endfor %}

      </ul>
    </div>
    <div class="col-3 border-right">
      <ul class="list-group list-group-flush article-list">
        {% for article in default_article_list %}
          <li class='list-group-item  '>
              <div class='article-container'>
                <h4 class='d-inline'><span class='badge article-count'>{{forloop.counter}}</span></h4>
                <p class='ml-2 d-inline article-title'><a href="{% url 'article-detail' article.id %}" style="text-decoration: none; color: #333333;" >{{article.title}}</a></p>
                <p class='article-stats'>{{article.get_likes}} likes | {{article.get_total_comments}} comments | {{article.date|date:"M d, Y"}} by {{article.author}}</p>
              </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <br>
    <div class="col">
      	<div class="alert alert-success alert-dismissable collapse">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </div>
        {% block content %}
        {% endblock %}
    </div>
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<script>
  $(document).ready(function(){
    $('#share-button').hover(function(){

    });

    $("#feed-filter").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#rss-list li").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });

    $(".feed").click(function(){
      $(".article-list").empty();
      var rss_id = $(this).val();
      $("#article-filter").val(rss_id);

      $.ajax({
          url: "{% url 'get-popular-rss-articles' %}",
          data: {
              "rss-id": rss_id
          },
          dataType: "json",
          success: function(data) {
              if (data['Test'] == true){
                var article_list = data['article_list'];
                var stats = data['article_stats'];
                console.log(data);

                var count = 0;
                for (article in article_list) {
                  count += 1;
                  var id = article_list[article]['id'];
                  var title = article_list[article]['title'];
                  var author = article_list[article]['author'];
                  var date_obj = new Date(article_list[article]['date']);
                  var date = date_obj.toDateString()

                  console.log(date);
                  var url = "/app/article/" + id;
                  var likes = stats[id][1];
                  var comment = stats[id][3];
                  console.log(likes);
                  $(".article-list").append("" +
                          "<li class='list-group-item'>" +
                            "<div class='article-container'>" +
                              "<h4 class='d-inline'><span class='badge article-count'>" + count + "</span></h4>" +
                              "<p class='ml-2 d-inline article-title'><a href="+ url +" >" + title + "</a></p>" +
                              "<p class='article-stats'>" + likes + " likes | " + comment + " comments | " + date + " by " + author + "</p>" +
                            "</div>" +
                          "</li>"
                  )
                }
              }
          }
      });
    });

     $(".like").click(function(){
        var article_id = $(this).val()
        if (article_id) {
            $.ajax({
                url: "{% url 'like' %}",
                data: {
                    "article-id": article_id,
                    "operation": "like",
                },
                dataType: "json",
                success: function(data) {
                    if (data['Test'] == true){


                    }

                    console.log(data['Test']);
                }
            });
        }
     });

    $(".dislike").click(function(){
        var article_id = $(this).val()
        if(article_id) {
          $.ajax({
            url: "{% url 'like' %}",
            data: {
                "article-id": article_id,
                "operation": "dislike",
            },
            dataType: "json",
            success: function(data) {
                console.log(data);
            }
          });
        }
    });

    $(".add").click(function(){
        var article_id = $(this).val()
        if (article_id) {
          $.ajax({
            url: "{% url 'favorite' %}",
            data: {
                "article-id": article_id
            },
            dataType: "json",
            success: function(data) {
                if (data["Test"] == true) {
                    $('.alert').removeClass("collapse");
                    $('.alert').text("Success! Added to favorites");
                    $('.alert').fadeOut(2000);
                }
                console.log(data);
            }
          });
        }
    });
     $(".bookmark").click(function(){
        var article_id = $(this).val();
        if (article_id) {
          $.ajax({
            url: "{% url 'bookmark' %}",
            data: {
                "article-id": article_id
            },
            dataType: "json",
            success: function(data) {
                if (data["Test"] == true) {
                    $('.alert').removeClass("collapse");
                    $('.alert').text("Success! Bookmarked");
                    $('.alert').fadeOut(2000);
                }
                console.log(data);
            }
          });
        }
    });

     $("#article-filter").click(function(){
       $(".article-list").empty();
       var text = $(this).text();
       var rss_id = $(this).val();

       if (text == "Latest") {
         $(this).text("Popular");
         $.ajax({
            url: "{% url 'get-popular-rss-articles' %}",
            data: {
                "rss-id": rss_id
            },
            dataType: "json",
            success: function(data) {
                if (data["Test"] == true) {
                  var article_list = data['article_list'];
                  var stats = data['article_stats'];
                  console.log(data);

                  var count = 0;
                  for (article in article_list) {
                    count += 1;
                    var id = article_list[article]['id'];
                    var title = article_list[article]['title'];
                    var author = article_list[article]['author'];
                    var date_obj = new Date(article_list[article]['date']);
                    var date = date_obj.toDateString()

                    console.log(date);
                    var url = "/app/article/" + id;
                    var likes = stats[id][1];
                    var comment = stats[id][3];
                    console.log(likes);
                    $(".article-list").append("" +
                            "<li class='list-group-item'>" +
                              "<div class='article-container'>" +
                                "<h4 class='d-inline'><span class='badge article-count'>" + count + "</span></h4>" +
                                "<p class='ml-2 d-inline article-title'><a href="+ url +" >" + title + "</a></p>" +
                                "<p class='article-stats'>" + likes + " likes | " + comment + " comments | " + date + " by " + author + "</p>" +
                              "</div>" +
                            "</li>"
                    )
                  }
                }
                console.log(data);
            }
          });
       }
       else {
         $(this).text("Latest");
         $.ajax({
            url: "{% url 'get-latest-rss-articles' %}",
            data: {
                "rss-id": rss_id
            },
            dataType: "json",
            success: function(data) {
                if (data["Test"] == true) {
                  var article_list = data['article_list'];
                  var stats = data['article_stats'];
                  console.log(data);

                  var count = 0;
                  for (article in article_list) {
                    count += 1;
                    var id = article_list[article]['id'];
                    var title = article_list[article]['title'];
                    var author = article_list[article]['author'];
                    var date_obj = new Date(article_list[article]['date']);
                    var date = date_obj.toDateString()

                    console.log(date);
                    var url = "/app/article/" + id;
                    var likes = stats[id][1];
                    var comment = stats[id][3];
                    console.log(likes);
                    $(".article-list").append("" +
                            "<li class='list-group-item'>" +
                              "<div class='article-container'>" +
                                "<h4 class='d-inline'><span class='badge article-count'>" + count + "</span></h4>" +
                                "<p class='ml-2 d-inline article-title'><a href="+ url +" >" + title + "</a></p>" +
                                "<p class='article-stats'>" + likes + " likes | " + comment + " comments | " + date + " by " + author + "</p>" +
                              "</div>" +
                            "</li>"
                    )
                  }
                }
                console.log(data);
            }
          });
       }
     });

    // TODO: Figure out how to load the first article everytime
  });

</script>

{% block extra_js %}
{% endblock extra_js %}
    
  </body>
</html>