{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_js %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


	<script type="text/javascript">
		$(document).ready(function(){

	        $(".like").click(function(){
	        	var article_id = $(this).val()
	        	
	        	$.ajax({
	        		url: "{% url 'like' %}",
	        		data: {
	        			"article-id": article_id
	        		},
	        		dataType: "json",
	        		success: function(data) {
	        			if (data['Test'] == true){
	        				

	        			}

	        			console.log(data['Test']);
	        		}
	        	});
	
	        });

	        $(".dislike").click(function(){
	        	var article_id = $(this).val()
	        	
	        	$.ajax({
	        		url: "{% url 'dislike' %}",
	        		data: {
	        			"article-id": article_id
	        		},
	        		dataType: "json",
	        		success: function(data) {
	        			console.log(data);
	        		}
	        	});
	
	        });
	        
	        $(".add").click(function(){
	        	var article_id = $(this).val()
	        	
	        	$.ajax({
	        		url: "{% url 'favorite' %}",
	        		data: {
	        			"article-id": article_id
	        		},
	        		dataType: "json",
	        		success: function(data) {
	        			if (data["Test"] == true) {
	        				$('.alert').removeClass("collapse");
        					$('.alert').text("Success! Added to favorites");
        					$('.alert').fadeOut(2000);
	        			}
	        			console.log(data);
	        		}
	        	});
	
	        });
	         $(".bookmark").click(function(){
	        	var article_id = $(this).val()
	        	
	        	$.ajax({
	        		url: "{% url 'bookmark' %}",
	        		data: {
	        			"article-id": article_id
	        		},
	        		dataType: "json",
	        		success: function(data) {
	        			if (data["Test"] == true) {
	        				$('.alert').removeClass("collapse");
	        				$('.alert').text("Success! Bookmarked");
	        			}
	        			console.log(data);
	        		}
	        	});
	
	        });
	    });
	</script>
{% endblock extra_js %}


{% block content %}
<link rel="stylesheet" href="{% static "css/main.css" %}">

<div class="card ">
	<div class="card-header">
		<div class="dropdown">
		  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Popular
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		    <a class="dropdown-item" href="#">Home</a>
		    <a class="dropdown-item" href="#">Popular</a>
		    <a class="dropdown-item" href="#">Latest</a>
		    <a class="dropdown-item" href="#">Trending</a>
		  </div>
		</div>
	</div>

	<!--Alerts-->	
	<div class="alert alert-success alert-dismissable collapse">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    </div>

	<div class="card-body">
		{% for article in article_list  %}

			<div class="card">
				<div class="card-header">
					<button class="btn btn-success text-dark add" value="{{article.id}}"><i class="fa fa-plus" aria-hidden="true"></i></button>
					<button class="btn btn-info text-dark bookmark" value="{{article.id}}"><i class="fa fa-bookmark" aria-hidden="true"></i></button>
					<button class="float-right like" value="{{article.id}}"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
					<button class="float-right dislike" value="{{article.id}}"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
				</div>
				<a href=" {% url 'article-detail' article.id %}">
					<div class="card-body home-card">
						<p>{{article.title}}</p>
						<p>{{article.author}}</p>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
</div>
<br>

{% endblock  %}
