{% extends 'app/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
	<br>
	<div class="card">
		<div class="card-header">
			<h1>Author Form</h1>
		</div>
		<div class="card-body">
			{% for author in authors %}
				<h2>{{author.author_name}}:{{author.number_articles}}</h2>
				<a href="{% url 'app:upload' author.id %}">click</a>
			{% endfor %}
		</div>
	</div>
	<br>
	<div class="card">
		<div class="card-header">
			<h1>Publisher Form</h1>
		</div>
		<div class="card-body">
			{% for publication in publications %}
				<h2>{{publication.publication_name}}</h2>
			{% endfor %}
		</div>
	</div>
	
{% endblock  %}